alembic==1.14.1
uvicorn==0.34.0
mypy==1.15.0
psycopg2-binary==2.9.10
pydantic==2.10.6
ruff==0.9.6
SQLAlchemy==2.0.38
fastapi==0.115.8
faker==36.1.1
python-dotenv==1.0.1
pycountry==24.6.1
requests==2.32.3
slowapi==0.1.9
starlette==0.45.3
pytest==8.3.4
types-requests==2.32.0.20241016